<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 5</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="logo">Интернет-магазин</div>
            <a href="form.html"><button class="form">Форма обратной связи</button></a>
            <div class="basket">
                <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="searchText">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-basket" type="button" @click="showCart = !showCart">Корзина</button>
                <div class="basket-block" v-show="showCart">
                    <p v-if="!basketItems.length">Корзина пуста</p>
                    <div class="basket-item" v-for="item of basketItems" :key="item.id_product">
                        <div class="product-basket">
                            <img :src="imgBasket" alt="Some image">
                            <div class="product-desc">
                                <p class="product-title">{{item.product_name}}</p>
                                <p class="product-quantity">Количество: {{item.quantity}}</p>
                                <p class="product-desc-price">{{item.price}}₽ за единицу</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{item.quantity*item.price}}₽</p>
                            <button class="del-btn" @click="remove(item)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="product of filteredProduct" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3 class="prod-name">{{product.product_name}}</h3>
                        <p class="prod-price">{{product.price}}₽</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/form.js"></script>
    <script src="js/main.js"></script>
</body>
</html>